# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\morte\Documents\Dokumentation\1. Semester (Software Udvikling)\3. System Integration (SI)\Assignments\Week 47 - Lektion 11 - 12-Factor\Git\Assignment9_Week47_12-Factor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
